* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans Condensed';
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}